<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Künstliche Intelligenz Klub</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu  d-none d-lg-block text-center">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="index.html">home</a></li>
                                        <li><a href="#mission" >Mission</a></li>
                                        <li><a href="#mission" >Der Klub</a></li>
                                        <li><a href="#team" >Mitglieder</a></li>
                                        <li><a href="#ki" >KI</a></li>


                                        <li><a href="#touch">Impressum</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-2 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-end">
                                <a href="#touch" data-scroll-nav="0" class="say_hi">Kontakt</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->

    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-start">
                    <div class="col-lg-10 col-md-10">
                        <div class="slider_text">
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                           Künstliche Intelligenz Klub
                              </h3>

                          </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- service_area  -->
      <a id="mission"></a>
    <div class="service_area">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section_title text-center mb-70">
                        <span style="font-size: 32px" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" >Mission</span>
                        <h3 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">Wir wollen Deutschland zur KI-Expertin machen.</h3>

                        <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                          Wir wollen, dass alle bei KI mitsprechen können, denn nur wenn wir alle KI verstehen, können wir als Gesellschaft fundierte Entscheidungen für die Zukunft treffen.
                        </hp
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/ service_area  -->

    <a id="vision"></a>
    <div class="service_area">

        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 offset-lg-1">
                    <div class="about_info">
                        <div class="section_title white_text">
<!--                            <span style="font-size: 32px" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Kiub — Der KI Klub</span>
-->


    <p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
      Von den Geisteswissenschaften, über die Medizin und die Physik, zu den neueren Technologien — Wissenschaften waren schon immer die großen Treiber von Transformation der Gesellschaft. Künstliche Intelligenz ist keine Ausnahme. Künstliche Intelligenz ist eine bedeutende Zukunftstechnologie und hat das Potenzial, unsere Gesellschaft und unser aller Leben entscheidend zu beeinflussen.</p>

  <p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
    Aber was genau ist Künstliche Intelligenz (KI) eigentlich? Bedroht KI die Menschheit, oder wird sie unsere drängendsten Probleme lösen? Ist ein selbstfahrender Zug, eine Waschmaschine mit Schmutzgradsensor, oder eine “intelligente” Partnerbörse bereits KI? Und was wird eigentlich noch weiter erforscht? In welche Richtungen entwickelt sich das Gebiet?
</p>

<p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
  Diese Fragen zu beantworten ist die Aufgabe von Experten, von denen es in Deutschland eine Vielzahl gibt. Jedoch sind diejenigen, die in den Medien zu Wort kommen, nicht immer auch Expertinnen und Experten auf dem Gebiet, über das sie berichten. Die zu hörenden Meinungen sind oft einseitig und von aktuellen Trends dominiert. Andererseits gibt es in Deutschland eine Reihe exzellenter und breit aufgestellter KI-Wissenschaftlerinnen und -Wissenschaftler, die zwar auf internationalen Fachkonferenzen sehr erfolgreich sind, jedoch kaum am öffentlichen Diskurs teilnehmen.  Das wollen wir — der KI Klub — ändern.
</p>

<p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
Wir bieten ein Netzwerk und ein Verzeichnis von KI-Expertinnen und -Experten mit international anerkannter wissenschaftlicher Expertise. Damit wird die Suche nach entsprechender Expertise einfacher. Unser Netzwerk propagiert keine bestimmte Meinung über KI, sondern repräsentiert die Diversität der Meinungen, die führende Wissenschaftler auf dem Gebiet haben. Wir wollen es den Medien, der breiten Bevölkerung und der Politik ermöglichen, sich selbst ein Bild zu machen, in dem sie verlässliche Informationen aus einer Hand aber aus vielen Köpfen erhalten. Wir vermitteln Expertinnen und Experten, klären so über die verschiedenen Strömungen in der KI auf und geben Einblicke in die tieferen Einsichten des Gebiets bzgl. Denken, Lernen und Arten der Intelligenz — in Tieren und Maschinen gleichermaßen. Wir bieten Perspektiven und verweisen auf die seriösen und fundierten Experten in den verschiedenen Teildisziplinen der Künstlichen Intelligenz.
</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- portfolio_image_area  -->
    <a id="ecosystem"></a>
    <div class="portfolio_image_area">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-90">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">  1 Disziplin, viele Stimmen</h3>
                    </div>
                </div>
            </div>
            <div class="row">

              <div class="col-lg-4 col-md-4">
                  <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="single_service text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".8s" style="font-size: 36px; height: 350px; background-color: rgba(0,255, 0,0.1);">

                  <br>
                    <p style="font-size: 36px; color: black; font-weight: bold;"> Künstliche Intelligenz </p>


                </div>
                  </div>
              </div>
              <div class="col-lg-8 col-md-12">
                  <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                      <div class="portfolio_thumb">
                          <img src="img/portfolio/robot.png" alt="">
                      </div>

                  </div>
              </div>



              <div class="col-lg-8 col-md-12">
                  <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                      <div class="portfolio_thumb">
                          <img src="img/portfolio/data.png" alt="">
                      </div>

                  </div>
              </div>

              <div class="col-lg-4 col-md-4">
                  <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="single_service text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".8s" style="font-size: 36px; height: 350px; background-color: rgba(255,0, 255,0.1);">

                  <br>
                  <p style="font-size: 36px; color: black; font-weight: bold;"> Viele Teilaufgaben </p>
                  <p style="font-size: 24px; color: black; font-weight: bold;"> Lernen, Schlussfolgern, Sehen, Planen, ...</p>


                </div>

                  </div>
              </div>




            </div>
        </div>
    </div>



        <!-- team_member_start -->
              <a id="team"></a>
        <div class="team_area">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3">
                        <div class="section_title text-center mb-90">
                            <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Mitglieder</h3>
                        </div>
                    </div>
                </div>
		
                <div class="row">
